body {
  background: #de2f32;
  margin: auto
}
.window {
  width: 300px;
  height: 300px;
  background: #a0d5d3;
  position: absolute;
  margin: auto;
  top: 1%;
  left: 70%;
  border-radius: 50%;
  border: 10px solid #f8e7dc;
  animation: rock;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes rock {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
@keyframes rock2 {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

.fir {
  position: absolute;
  margin: 0 auto;
  width: 8em;
  top: 40%;
  left: 50px;
  animation: rock;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.message {
  position: absolute;
  left: 50%;
  top: 0%;
  color: #f8e7dc;
  font-family: 'Mountains of Christmas';
}
.message h1 {
    text-align: center;
    font-style: normal;
    font-size: 75px;
    margin-bottom: 0;
    white-space: nowrap; 
    animation: rock;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.message h2 {
    font-style: normal;
    font-size: 75px;
    margin-bottom: 0;
    white-space: nowrap; 
    animation: rock2;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    
}